.btn-danger {
    color: #fff;
    background-color: #6e2424!important;
    border-color: #6e2424!important;
    transition: all .3s linear;
    &:hover, &:focus, &:active  {
    	background-color: #2f4d3d;
        border-color: #2f4d3d;
    }
}

.btn {
    display: inline-block;
    padding: 12px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 136px;
    height: 46px;
}